.submitArticle {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sba-title {
  line-height: 2.2rem;
  padding-left: .6rem;
  font-size: .7rem;
}

.sba-imgs {
  padding-left: .6rem;
  display: flex;
  flex-wrap: wrap;
}

.sba-imgs .i {
  width: 4rem;
  height: 4rem;
  margin: 0 .5rem .5rem 0;
  position: relative;
  overflow: hidden;
  background: #eee;
}

.sba-imgs .i img {
  display: block;
  height: 100%;
  margin-left: -10%;
}

.sba-imgs .i .add-span {
  font-size: 1.6rem;
  color: #aaa;
}

.sba-imgs .i .del-span {
  font-size: 1.6rem;
  color: #eee;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.sba-imgs .i.span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sba-imgs .i input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.sba-title-input {
  width: 100%;
  background: none;
  border: none;
  line-height: 1.2rem;
  padding: .6rem;
  font-size: .8rem;
  color: #434343;
  font-weight: bold;
}

.sba-title-textarea {
  flex: 1;
  width: 100%;
  background: none;
  border: none;
  line-height: 1.2rem;
  padding: .6rem;
  font-size: .7rem;
  color: #434343;
}

.sba-btns {
  height: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sba-btns div {
  width: 4.4rem;
  text-align: center;
  margin: 0 .9rem;
  line-height: 2rem;
  background: #2489ED;
  color: #fff;
  font-size: .7rem;
  border-radius: .3rem;
}

.stepTwo-lable-box {
  margin: .6rem .6rem 6rem .6rem;
}

.slb-title {
  line-height: 1rem;
  font-size: .8rem;
  color: #434343;
  font-weight: bold;
  margin-bottom: .4rem;
}

.slb-tips {
  font-size: .6rem;
  color: #aaa;
  margin-bottom: .6rem;
}

.slb-lable-box {
  display: flex;
  flex-wrap: wrap;
}

.slb-lable-box div {
  line-height: 1.4rem;
  color: #333;
  font-size: .6rem;
  padding: 0 .8rem;
  margin: 0 .4rem .4rem 0;
  background: #D7D7D7;
  border-radius: .7rem;
}

.slb-lable-box div.active {
  background: #2489ED;
  color: #fff;
}

.slb-add-lable {
  width: 3.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #fff;
  font-size: .6rem;
  background: #2489ED;
  border-radius: .7rem;
}

.slb-add-lable-input {
  width: 100%;
  line-height: 2rem;
  border-bottom: .5px solid #eee;
  color: #434343;
}