.com-input {
  width: 100%;
  height: 2.5rem;
}

.com-input input {
  width: 100%;
  height: 2.4rem;
  line-height: 100%;
  padding-left: .3rem;
  color: #434343;
  font-size: .7rem;
}

.com-textarea {
  width: 100%;
  height: 3.9rem;
}

.com-textarea textarea {
  width: 100%;
  height: 3.2rem;
  line-height: 1rem;
  padding: .6rem .3rem;
  color: #434343;
  font-size: .7rem;
  resize: none;
  font-family: sans-serif, "Microsoft YaHei", 微软雅黑;
}

.com-publicTitle {
  line-height: 2.2rem;
  font-size: .7rem;
  font-weight: bold;
  color: #434343;
}

.com-gome {
  width: 6rem;
  line-height: 1.8rem;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 99;
  background: #2489ED;
  border-radius: .9rem;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  box-shadow: 0 1px 5px #f8f8f8;
}