.userBlock {
  padding: .6rem;
  background: #fff;
}

.userBlock-top {
  height: 3rem;
  display: flex;
}

.userBlock-top .l {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.userBlock-top .c {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 .4rem;
}

.userBlock-top .c .t {
  font-size: .8rem;
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: .2rem;
}

.userBlock-top .c .b {
  height: 1rem;
  display: flex;
  align-items: center;
  font-size: .7rem;
  color: #aaa;
}

.userBlock-top .c .b span {
  margin-top: .1rem;
  margin-left: .3rem;
}

.userBlock-top .r.iconfont {
  font-size: 1.2rem;
  color: #aaa;
  margin-top: .3rem;
}

.userBlock-top .follow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.4rem;
  padding: 0 .5rem;
  margin-top: .2rem;
  border-radius: .7rem;
  color: #fff;
  font-size: .6rem;
  background: #2489ED;
}

.userBlock-top .follow-btn.disable {
  color: #434343;
  background: #f8f8f8;
}


.userBlock-numlist {
  display: flex;
  margin: .8rem 0 .6rem 0;
}

.userBlock-numlist li {
  flex: 1;
  height: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userBlock-numlist li p {
  font-size: .7rem;
  line-height: 1rem;
  margin-bottom: .2rem;
  color: #434343;
}

.userBlock-numlist li span {
  font-size: .7rem;
  color: #aaa;
}

.userBlock-lable {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .3rem;
}

.userBlock-lable li {
  height: 1rem;
  margin-right: .4rem;
  margin-bottom: .3rem;
  display: flex;
  align-items: center;
  padding: 0 .3rem;
  border-radius: .6rem;
  font-size: .6rem;
  background: #f8f8f8;
  color: #434343;
}

.userBlock-info {
  font-size: .6rem;
  color: #333;
  line-height: .9rem;
}