.m-lightBox,
.m-lightBox-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.m-lightBox {
  z-index: 999;
}

.m-lightBox-mask {
  z-index: 1;
  background: rgba(0, 0, 0, .75);
}

.m-lightBox-body {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.m-lightBox-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.m-lightBox-group {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
}

.m-lightBox-group li {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.m-lightBox-group li em {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.m-lightBox-group li img,
.m-lightBox-group li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.m-lightBox-group li span {
  font-size: 3rem;
  color: #ccc;
  animation: loding 1.3s linear infinite;
}

@keyframes loding {
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.m-lightBox-index {
  position: absolute;
  left: 0;
  top: .5rem;
  right: 0;
  text-align: center;
  line-height: 1rem;
  font-size: .8rem;
  color: #ccc;
}