.home {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.home-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 2.5rem;
  z-index: 1;
  overflow: auto;
  background: #f5f5f5;
}

.home-slide {
  position: relative;
}

.home-item {
  margin: 1.5rem .8rem 2rem .8rem;
}