.home {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.home-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 2.5rem;
  z-index: 1;
  overflow: auto;
}

.home-slide {
  position: relative;
}

.home-slide p {
  font-size: .8rem;
  color: #fff;
  line-height: 1.2rem;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}

.home-go-submit {
  width: 5rem;
  line-height: 1.8rem;
  text-align: center;
  border: .5px solid #fff;
  border-radius: .2rem;
  color: #fff;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
}

.home-item {
  margin: 1.5rem .8rem 2rem .8rem;
}