.ed-step-one {
  padding-bottom: 2rem;
}

.ed-step-one.hidden {
  display: none;
}

.eso-img-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}

.eso-img-box_img {
  display: block;
  width: 100%;
}

.eso-img-box_btn {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: .24rem;
  bottom: .24rem;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  border-radius: 50%;
}

.eso-img-box_btn span {
  font-size: 1rem;
  color: #fff;
}

.eso-img-box_lablebox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.eso-img-box_lablebox div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #6CA2D6;
  position: absolute;
  z-index: 1;
}

.eso-img-box_lablebox div.active {
  background: #2489ED;
  z-index: 2;
}

.eso-tab-header {
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.eso-tab-header::-webkit-scrollbar {
  display: none;
}

.eso-tab-header div {
  width: 3.8rem;
  flex-shrink: 0;
  text-align: center;
  line-height: 2rem;
}

.eso-tab-header div.active {
  background: #2489ED;
  color: #fff;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

.eso-tab-content {
  padding-left: .6rem;
}

.eso-tab-content-btns {
  margin: 1rem 0 0 .2rem;
  display: flex;
  height: 1.8rem;
}

.eso-tab-content-btns div {
  height: 1.6rem;
  display: flex;
  align-items: center;
  margin-right: .8rem;
  padding: 0 .6rem;
  border-radius: .8rem;
  background: #f8f8f8;
}

.eso-btns {
  height: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.eso-btns div {
  width: 4.4rem;
  text-align: center;
  margin: 0 .9rem;
  line-height: 2rem;
  background: #2489ED;
  color: #fff;
  font-size: .7rem;
  border-radius: .3rem;
}

.eso-add-lable-input {
  width: 100%;
  line-height: 2rem;
  border-bottom: .5px solid #eee;
  color: #434343;
}

.eso-add-lable-tips {
  color: #aaa;
  font-size: .6rem;
  line-height: .6rem;
  margin: .4rem 0;
}