.set-item-box {
  padding-left: .6rem;
  background: #fff;
  margin-bottom: 1rem;
}

.set-item-box .set-item:last-child::after {
  display: none;
}

.set-item {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.set-item .l {
  width: 2.5rem;
  font-size: .7rem;
  color: #434343;
}

.set-item .r {
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: .6rem;
  color: #888;
  font-size: .7rem;
}

.set-item .r input {
  width: 100%;
  height: 2.4rem;
  line-height: 100%;
  color: #888;
  font-size: .7rem;
  text-align: right;
}

.set-item.userIcon {
  height: 3.4rem;
}

.set-item.userIcon .r img {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
}

.set-title {
  line-height: 1.6rem;
  padding-left: .6rem;
  font-size: .7rem;
}

.set-info-box {
  background: #fff;
  padding: .6rem;
  margin-bottom: 1rem;
}

.set-info-box textarea {
  width: 100%;
  height: 3.2rem;
  line-height: 1rem;
  color: #434343;
  font-size: .7rem;
  resize: none;
  font-family: sans-serif, "Microsoft YaHei", 微软雅黑;
}

.set-lable-tips {
  font-size: .6rem;
  color: #aaa;
  line-height: .8rem;
  margin: 0 0 1rem .6rem;
}

.set-lable-content {
  margin: .6rem;
}

.set-lable-box {
  margin-bottom: .6rem;
  display: flex;
  flex-wrap: wrap;
}

.set-lable-box div {
  line-height: 1.4rem;
  color: #333;
  font-size: .6rem;
  padding: 0 .8rem;
  margin: 0 .4rem .4rem 0;
  background: #D7D7D7;
  border-radius: .7rem;
}

.set-lable-box div.active {
  background: #2489ED;
  color: #fff;
}

.set-add-lable {
  width: 3.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #fff;
  font-size: .6rem;
  background: #2489ED;
  border-radius: .7rem;
}

.set-add-lable-input {
  width: 100%;
  line-height: 2rem;
  border-bottom: .5px solid #eee;
  color: #434343;
}

.set-save-btns {
  height: 2rem;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.set-save-btns div {
  width: 4.4rem;
  text-align: center;
  margin: 0 .9rem;
  line-height: 2rem;
  background: #2489ED;
  color: #fff;
  font-size: .7rem;
  border-radius: .3rem;
}