.follow-title {
  line-height: 2.2rem;
  padding-left: .6rem;
  font-size: .7rem;
  color: #434343;
}

.follow-item-nolist {
  font-size: .6rem;
  color: #555;
  text-align: center;
  margin-top: 1.6rem;
}